# Created by https://www.gitignore.io/api/homeassistant
# Edit at https://www.gitignore.io/?templates=homeassistant

#Ignore all for safety reasons
*

#Whitelist system files
!/.gitignore
!/.github
!*.md
!.HA_VERSION
!docs

#whitelist yaml files
!*.yaml
!*.tmpl

#allow home assistant content
!/packages/
!packages/**/
!/ssl/
!/ssl/**
!/themes/
!themes/**
!/www/images/
!/www/images/**
!/docs/
!docs/**
### HomeAssistant ###
# Files with personal details
*.crt
*.csr
*.key
*.pem
.google.token
.uuid
icloud/
google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite
secrets.yaml
tradfri.conf
o365_calendars.yaml

# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Log files
home-assistant.log
ozw_log.txt

# Development files
custom_components/

# End of https://www.gitignore.io/api/homeassistant