#global secrets file

##Plex
plextoken: dummy

##BMW iDrive
bmw_connected_drive_pass: "dummy"
bmw_connected_drive_user: "dummy"
bmw_i320_vin: "dummy"

##Spotify
spotify_username: "dummy"
spotify_password: "dummy"

##Mi Air
mi_air_3h_living_host: dummy
mi_air_3h_living_token: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
mi_air_3h_bedroom_host: dummy
mi_air_3h_bedroom_token: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

##Office 365
o365_client_secret: "dummy"
o365_client_id: "dummy"

##Nodered
nodered_credential: "dummy"

#Hass config
http_fullchain: /config/ssl/fullchain.pem
http_privkey: /config/ssl/privkey.pem

#Harmony
harmony_host: dummy

#Harmony
harmony_host: dummy

#RFXTRX
rfxtrx_device: dummy