-----BEGIN CERTIFICATE-----
MIIC0jCCAbqgAwIBAgIJAOUagjKvqa5JMA0GCSqGSIb3DQEBBQUAMBkxFzAVBgNV
BAMTDmhhc3MudnhzYW4uY29tMB4XDTIwMDYwMjExMzQyNVoXDTMwMDUzMTExMzQy
NVowGTEXMBUGA1UEAxMOaGFzcy52eHNhbi5jb20wggEiMA0GCSqGSIb3DQEBAQUA
A4IBDwAwggEKAoIBAQC5py5/uIetSpoDN4gg+43rBYPgEGdkAiGm2DW4rX/i498H
Mlgf6C7WGDtpUxU0KcfBw0e+kQZXKVIX2501MgHNRwAvZM23dDJ+NQ8G+YtO9RtD
sGTB+hApYuIwmJU6fkhZ1dVRl90m/41nqlVbEjKY3Xm5Ycq1urc+tr8A/w5N2/r+
+Qb9RZduG96fFIZIYhjcpZ8aksfzDjdvdH52159yFiVMZKGB0p/upusRgttpyWOP
bP+1hmLQaWaSbqg2ZjD1g60aYqaNKuaII+ROL6YghvabkfHRoXho3rkMQ6LsncFZ
kAQv42rXpJmxfSZXPQ558sDGyUvW4yJY8ywT3bvxAgMBAAGjHTAbMBkGA1UdEQQS
MBCCDmhhc3MudnhzYW4uY29tMA0GCSqGSIb3DQEBBQUAA4IBAQBprY7tOgR+N33f
8ZAHDtKmVX8m+NCZ/NpU7UBWwI8gdeRO1lNbXtpuopBn0JW0t7DnNNAr1lPTy5qq
GG3Zr8j14N/mKaQvxJeFncTXKGOijwgE74N5CRvpOcauvIKmSuxX2qP0lIl88oOe
xJ4BGKr2aRFe+PldfB0RqzzLtovicFxUxZrOA2UxEUheg+A4PifEAhMmtVyZZaTZ
pv/veEjYt4ozbgr7hAIwyarrHJGDQ4eY6ouPHnW2D13IU1L5iDL226hjYlKNENiE
NH7dsB/lgJMxZu2fK+hge3ev36b+63CNWNLtNekHbpNZZEzEf2+GblJSfJcAt178
5Y1X3sHB
-----END CERTIFICATE-----